<?xml version="1.0"?>
<robot name="odean2" xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:include filename="$(find test)/urdf/cam.gazebo.xacro"/>

  <link name="camera_B_link">
    <inertial>
      <origin xyz="0.0076536635969946 -7.04454670178979E-07 -0.000511989237860153" rpy="0 0 0" />
      <mass value="0.0481993963505387" />
      <inertia
        ixx="2.73885438795002E-05"
        ixy="-4.25123308152465E-07"
        ixz="-3.71368726286081E-08"
        iyy="3.35060048200323E-06"
        iyz="2.78803901411349E-08"
        izz="2.66528125103563E-05" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://test/meshes/odean2/camera_B_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://test/meshes/odean2/camera_B_link.STL" />
      </geometry>
    </collision>
  </link>


</robot>